includes:
	- vendor/hanaboso/php-check-utils/phpstan.neon # hanaboso rules

parameters:
	ignoreErrors:
		-
			message: '#is not subtype of#'
		-
			message: '#Property .* type mapping mismatch#'
		-
			message: '#Call to function is_array\(\) with array.+ will always evaluate to true#'
			path: src/DataFixtures/RoleFixtureAbstract.php
		-
			message: '#Cannot call method getOwner\(\)#'
			path: src/Manager/AccessManager.php
		-
			message: '#Cannot access constant (GROUP|RULE) on string#'
			path: src/Provider/Impl/AclProvider.php
		-
			message: '#Call to function in_array\(\) requires parameter \#3 to be true#'
			paths:
				- src/Repository/Entity/GroupRepository.php
				- src/Repository/Document/GroupRepository.php
		-
			message: '#Unreachable statement - code above always terminates#'
			path: tests/Integration/Reposity/Entity/GroupRepositoryTest.php
		-
			message: '#Cannot call method toArray\(\) on iterable#'
			paths:
				- tests/Integration/Provider/Impl/AclProviderTest.php
				- tests/Integration/Document/DocumentTest.php
				- src/Manager/AccessManager.php
				- src/Manager/GroupManager.php
		-
			message: '#Cannot call method clear#'
			path: src/Manager/GroupManager.php
		-
			message: '#Only booleans are allowed in a while condition#'
			paths:
				- src/Repository/Entity/GroupRepository.php
				- src/Repository/Document/GroupRepository.php
		-
			message: '#Cannot call method contains#'
			paths:
				- src/Document/Group.php
				- src/Entity/Group.php
		-
			message: '#Cannot call method add#'
			paths:
				- src/Document/Group.php
				- src/Entity/Group.php
		-
			message: '#Cannot call method removeElement#'
			paths:
				- src/Document/Group.php
				- src/Entity/Group.php
		-
			message: '#Parameter \#1 \$value of function count expects array#'
			path: src/Manager/GroupManager.php
	symfony:
		containerXmlPath: %rootDir%/../../../var/cache/test/AclBundleTests_KernelTestDebugContainer.xml
	ergebnis:
		classesNotRequiredToBeAbstractOrFinal:
			- Hanaboso\AclBundle\Document\Group
			- Hanaboso\AclBundle\Document\Rule
			- Hanaboso\AclBundle\Enum\ActionEnum
			- Hanaboso\AclBundle\Enum\ResourceEnum
			- Hanaboso\AclBundle\Factory\MaskFactory
			- Hanaboso\AclBundle\Factory\RuleFactory
			- Hanaboso\AclBundle\Manager\GroupManager
			- Hanaboso\AclBundle\Repository\Document\GroupRepository
			- Hanaboso\AclBundle\Repository\Document\RuleRepository
			- Hanaboso\AclBundle\Repository\Entity\GroupRepository
			- Hanaboso\AclBundle\Repository\Entity\RuleRepository
		classesAllowedToBeExtended:
			- AclBundleTests\ControllerTestCaseAbstract
			- AclBundleTests\DatabaseTestCaseAbstract
			- AclBundleTests\KernelTestCaseAbstract
			- Hanaboso\AclBundle\DataFixtures\RoleFixtureAbstract
			- Hanaboso\AclBundle\Document\DocumentAbstract
			- Hanaboso\AclBundle\Entity\EntityAbstract
			- Hanaboso\AclBundle\Enum\ActionEnum
			- Hanaboso\UserBundle\Enum\EnumAbstract
			- Hanaboso\Utils\Exception\PipesFrameworkExceptionAbstract
